.log-form {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.input{
  text-align: center;
}


.title{
  display: flex;
  position: relative;
  top: 450px;
  align-items: center;
  justify-content: center;

}

.button {
  position: absolute;
  top: 520px;
  display: inline-block;
  background: black;
  border-radius: 10px;
  padding: 0.5em 2em;
  color: white;
  margin-right: 0.5em;
  box-shadow: inset 0px 1px 0px fadeout(blue, 80%);
}

.forgot {
  position: absolute; 
  top: 570px;
  left: 775px;
  display: flex;
  
}

.space{
  margin-left: 2.5em;
}

body{
  background-image:url('image.jpg');
  background-size: cover;
}